body{
    margin: 0;
    background-color: rgb(179, 148, 108);
}

ul {
    padding: 0;
    margin: 0;
list-style-type: none;
overflow: hidden;
/* overflow puts the color there */
background-color: rgb(96, 54, 29);
}

li {
    float: left;
    /* this is what makes them align, horizontally */
} 

li a{
color: burlywood;
padding: 15px;
text-decoration: none;
display: block;

}

li a:hover{
    background-color: rgb(132, 104, 67);
}


.item-list{
    padding: 15px;
}

.container {
    display: flex;
    flex-direction: row;
}


.flex-item{
 width: 200px;
 margin: 5px;
}

img {
    width: 50%;
}

